{% load i18n %}

<div id="upload-container" class="upload-container" data-json-params='{{ json_params|safe }}' data-filesizes='{{ files_json|safe }}'>
  <table class="upload-table">
    <thead>
      <tr>
        <th colspan="2" class="heading-name">{% trans "Fichier" %}</th>
        <th class="heading-size">{% trans "Taille" %}</th>
        <th class="heading-status">{% trans "Statut" %}</th>
        <th class="heading-delete"></th>
      </tr>
    </thead>
    <tbody id="filelist">
      {% for file in files %}
      <tr data-resumable-file-id="{{ file.id }}" data-resumable-file-name="{{ file.filename }}">
        <td class="file-type">
          <span class="icon-file icon-{{ file.type }}"></span>
        </td>
        <td class="file-name">
          {{ file.filename }}
        </td>
        <td class="file-size">
          {{ file.filesize }}
        </td>
        <td class="file-status">
          <span class="progress-bar" role="progressbar" aria-valuenow="{{ file.percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ file.percent }}%;">{{ file.percent }}%</span>
        </td>
        <td class="file-delete"><a href="#" class="delete-file icon-upload icon-delete"></a></td>
      </tr>
      {% endfor %}
      {% comment %}
      TODO: faire fonctionner le fallback
      <tr>
        <td colspan="5">{% trans "Votre navigateur ne supporte pas les technologies Flash, Silverlight ou HTML5." %}</td>
      </tr>
      TODO: faire fonctionner le drag & drop
      <tr id="drop_element" class="drop">
        <td colspan="5">
          <div class="drop-circle">
            <div class="drop-message">
              <div class="drop-icon"><span class="icon-action icon-upload"></span></div>
              <div class="drop-text">{% trans "Glissez-déposez vos fichiers de production ici." %}</div>
            </div>
          </div>
        </td>
      </tr>
      {% endcomment %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">
          <a id="pickfiles" class="upload-action" href="javascript:;">
            <span class="icon-action icon-add"></span>
            {% if max_file_count > 1 %}
              {% trans "Ajouter les fichiers" %}
            {% else %}
              {% trans "Ajouter un fichier" %}
            {% endif %}
          </a>
          {% if not auto_upload %}
          <a id="uploadfiles" class="upload-action" href="javascript:;">
            <span class="icon-action icon-upload"></span>
            {% trans "Téléverser" %}
          </a>
          {% endif %}
        </td>
        <td class="file-size">
          <strong><span id="file-size-total"></span></strong>
        </td>
      </tr>
      <tr id="input-row">
        <td colspan="5">
          <input{{ final_attrs }}>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
