/* Icons - FontAwesome */
.upload-table [class^="icon-"] {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Upload table layout */
.upload-table {
  width: 100%;
}
.upload-table thead {
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}
.upload-table thead th, .upload-table tfoot td {
  padding: 0.75em 0;
}
.upload-table tbody td {
  vertical-align: middle;
}
.upload-table tfoot {
  border-top: 2px solid rgba(0, 0, 0, 0.05);
}
.upload-action {
  margin-right: 1em;
}
.heading-type {
  width: 5%;
}
.heading-name {
  width: 60%;
}
.heading-size {
  width: 10%;
  text-align: right;
}
.heading-status {
  width: 20%;
  text-align: center;
}
.heading-delete {
  width: 5%;
}
.file-type {
  text-align: center;
}
.file-name {
  max-width: 65%;
  word-break: break-all;
}
.file-size {
  white-space: nowrap;
  text-align: right;
}
.file-delete {
  text-align: center;
  margin: auto;
}

/* Progress bar */
.file-status {
  font-weight: 600;
  overflow: hidden;
  background: transparent;
}
.file-status .progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 0.85em;
  color: #fff;
  text-align: center;
  background-color: #AF2329;
  -webkit-transition: width 300ms ease;
  -o-transition: width 300ms ease;
  transition: width 300ms ease;
}

/* Drag & drop area */
.filedrop {
  font-size: 1em;
  text-align: center;
  color: rgba(0, 0, 0, 0.35);
}
.filedrop td {
  padding: 1.5em;
}
.filedrop .drop-circle {
  width: 200px;
  height: 200px;
  margin: auto;
  padding: 1.5em;
  border: 2px dashed rgba(0, 0, 0, 0.25);
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  -webkit-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}
.drop-message {
  align-self: center;
}
.drop-icon .icon-upload {
  font-size: 3.5em;
  color: rgba(0, 0, 0, 0.25);
}
.drop-text {
  font-style: italic;
  margin-top: 0.25em;
}

/* Drag & drop when dragging */
.filedrop.dragging {
  color: #FFF;
}
.filedrop.dragging .drop-circle {
  border: 2px solid #AF2329;
  background: #AF2329;
}
.filedrop.dragging .drop-icon .icon-upload {
  color: #FFF;
}

/* Action icons */
.icon-action {
  font-size: 1em;
}
.icon-add:before {
  content: "\f055";
}
.icon-upload:before {
  content: "\f0ee";
}
.icon-delete:before {
  content: "\f00d";
}

/* File type icons */
.icon-file {
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.35);
}
.icon-file:before {
  content: "\f016";
}
.icon-bmp:before,
.icon-jpg:before,
.icon-jpeg:before,
.icon-gif:before,
.icon-tiff:before,
.icon-tif:before,
.icon-png:before {
  content: "\f1c5";
}
.icon-zip:before,
.icon-gzip:before,
.icon-rar:before,
.icon-tar:before,
.icon-gz:before,
.icon-zipx:before {
  content: "\f1c6";
}
.icon-pdf:before {
  content: "\f1c1";
}
.icon-xml:before,
.icon-html:before,
.icon-json:before {
  content: "\f1c9";
}
.icon-xls:before,
.icon-xlsx:before {
  content: "\f1c3";
}
.icon-doc:before,
.icon-docx:before {
  content: "\f1c2";
}
.icon-txt:before,
.icon-md:before,
.icon-mdown:before,
.icon-markdown:before {
  content: "\f0f6";
}
.icon-ppt:before,
.icon-pptx:before {
  content: "\f1c4";
}
.icon-wav:before,
.icon-mp3:before,
.icon-fla:before,
.icon-flac:before,
.icon-ra:before,
.icon-rma:before,
.icon-aif:before,
.icon-aiff:before,
.icon-aa:before,
.icon-aac:before,
.icon-aax:before,
.icon-ac3:before,
.icon-au:before,
.icon-ogg:before,
.icon-avr:before,
.icon-3ga:before,
.icon-flac:before,
.icon-mid:before,
.icon-midi:before,
.icon-m4a:before,
.icon-mp4a:before,
.icon-amz:before,
.icon-mka:before,
.icon-asx:before,
.icon-pcm:before,
.icon-m3u:before,
.icon-wma:before,
.icon-xwma:before, {
  content: "\f1c7";
}
.icon-avi:before,
.icon-mpg:before,
.icon-mp4:before,
.icon-mkv:before,
.icon-mov:before,
.icon-wmv:before,
.icon-vp6:before,
.icon-264:before,
.icon-vid:before,
.icon-rv:before,
.icon-webm:before,
.icon-swf:before,
.icon-h264:before,
.icon-flv:before,
.icon-mk3d:before,
.icon-gifv:before,
.icon-oggv:before,
.icon-3gp:before,
.icon-m4v:before,
.icon-movie:before,
.icon-divx:before {
  content: "\f1c8";
}
